/* Responsive container of the svg element */
.responsive-svg-container {
  width: 100%;
  max-width: 800px;
}

/* Axis and ticks */
.x-axis-streamgraph path {
  stroke-opacity: 0;
}
.x-axis-streamgraph text {
  fill-opacity: 0;
}


